{{ 'styles/footer.css' | asset_url | stylesheet_tag }}

<style>
  #footer-{{ section.section_id }} {
    --font-primary: {{ settings.type_main_font.family }}, {{ settings.type_main_font.fallback_families }};
    --font-secondary: {{ settings.type_heading_font.family }};
  }
</style>

<footer 
  id="footer-{{ section.section_id }}" 
  class="container_component" 
  style="background-color: var(--color-tertiary-text)"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
>
  <section class="footer-container">
    <div class="footer-container_links-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'menus' %}
            
          <div class="footer-container_links">
            <h2 class="footer-container_links_tittle">{{ block.settings.menu-title }}</h2>
            <ol class="footer-container_links_list">
              {%- if block.settings.main_linklist != blank -%}
                {%- for link in linklists[block.settings.main_linklist].links -%}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%- endfor -%}
              {%- endif -%}
            </ol> 
          </div>

          {% endif %}
      {% endfor %}
    </div>

    <div class="footer-container_rights">
      <p class="footer-container_rights_copyright" id="Copyright">
        {{ '' | default: '© 2024 Shiny Storm. All rights reserved. Handmade with love ✨' }}
      </p>
    </div>
  </section>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type":      "header",
        "content":   "Color"
      },
    ],
    "blocks": [
      {
        "type": "menus",
        "name": "Menus",
        "limit": 3,
        "settings": [
          {
            "id": "menu-title",
            "type": "text",
            "label": "Menu Heading"
          },
          
          {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "link_list",
            "id": "secondary_linklist",
            "label": "Secondary Menu",
            "info": "This menu won't show dropdown items"
          }
        ]
      }
    ]
  }

{% endschema %}