{{ 'header-custom.css' | asset_url | stylesheet_tag }}

{%- assign s = section.settings -%}

<style>
  #Section-{{ section.id }}, #Section-banner-{{ section.id }}, #Shiny-Nav-{{ section.id }} {
    --bg-gradient-start: {{ 'var(--color-tertiary-background)' }};
    --bg-gradient-end: {{ 'var(--color-primary-background)' }};
    --header-bg: {{ 'var(--color-primary-background)' }};
    --header-text: {{ 'var(--color-primary-text)' }};
    --header-accent: {{ 'var(--color-primary-meta)' }};
    --header-border: {{ '#EFE8E1' }};
    --font-logo: {{ settings.type_heading_font.family }}, {{ settings.type_heading_font.fallback_families }};
    --font-nav: {{ settings.type_main_font.family }}, {{ settings.type_main_font.fallback_families }};
  }
</style> 

<div 
  id="Section-{{ section.id }}" 
  class="shiny-header-wrapper" 
  data-section-id="{{ section.id }}" 
  data-section-type="header"
>
  <header class="shiny-header">
    <div class="shiny-container">

      <div class="shiny-search" >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
          <path d="M20.031,20.79c0.46,0.46,1.17-0.25,0.71-0.7l-3.75-3.76c1.27-1.41,2.04-3.27,2.04-5.31c0-4.39-3.57-7.96-7.96-7.96s-7.96,3.57-7.96,7.96c0,4.39,3.57,7.96,7.96,7.96c1.98,0,3.81-0.73,5.21-1.94L20.031,20.79zM4.11,11.02c0-3.84,3.13-6.96,6.96-6.96c3.84,0,6.96,3.12,6.96,6.96c0,3.84-3.12,6.96-6.96,6.96C7.24,17.98,4.11,14.86,4.11,11.02z"></path>
        </svg>
        <input type="text" class="shiny-search_input" placeholder="Search products..." aria-label="Search products">
      </div>

      <a href="{{ routes.root_url }}" class="shiny-logo">
        Shiny Storm
      </a>

      <div class="shiny-icons">
        <a href="/pages/wishlist" class="shiny-iconButton" aria-label="Favorites">
          <svg stroke="currentColor" fill="none" stroke-width="1" viewBox="0 0 24 24" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.438,21.937H6.562a2.5,2.5,0,0,1-2.5-2.5V18.61c0-3.969,3.561-7.2,7.938-7.2s7.938,3.229,7.938,7.2v.827A2.5,2.5,0,0,1,17.438,21.937ZM12,12.412c-3.826,0-6.938,2.78-6.938,6.2v.827a1.5,1.5,0,0,0,1.5,1.5H17.438a1.5,1.5,0,0,0,1.5-1.5V18.61C18.938,15.192,15.826,12.412,12,12.412Z"></path><path d="M12,9.911a3.924,3.924,0,1,1,3.923-3.924A3.927,3.927,0,0,1,12,9.911Zm0-6.847a2.924,2.924,0,1,0,2.923,2.923A2.926,2.926,0,0,0,12,3.064Z"></path>
          </svg>
        </a>

        <a href="{{ routes.cart_url }}" class="shiny-iconButton" aria-label="Cart">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
          </svg>
        </a>
      </div>

    </div>
  </header>
</div>

<nav id="Shiny-Nav-{{ section.id }}" class="shiny-nav">
  {% for link in linklists[s.main_linklist].links %}
    <a href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
</nav>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const headerWrapper = document.getElementById("Section-{{ section.id }}");
  const navElement = document.getElementById("Shiny-Nav-{{ section.id }}");
  
  let lastScrollY = window.scrollY;
  let ticking = false;
  const threshold = 50; 

  function adjustLayout() {
    if (!headerWrapper || !navElement) return;
    const headerHeight = headerWrapper.offsetHeight;
    navElement.style.position = "fixed";
    navElement.style.top = headerHeight + "px";
    document.body.style.paddingTop = (headerHeight + navElement.offsetHeight) + "px";
  }

  adjustLayout();
  window.addEventListener('resize', adjustLayout);

  window.addEventListener("scroll", function() {
    if (!ticking) {
      window.requestAnimationFrame(function() {
        const currentScrollY = window.scrollY;

        if (navElement) {
          
          if (currentScrollY > threshold && currentScrollY > lastScrollY) {
            navElement.classList.add("nav-hidden");
          } 
          
          else if (currentScrollY <= 20 || currentScrollY < lastScrollY) {
            navElement.classList.remove("nav-hidden");
          }
        }

        lastScrollY = currentScrollY;
        ticking = false;
      });
      ticking = true;
    }
  });
});
</script>

{% schema %}
{
  "name": "Header Custom",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Banner - Adjustment"
    },
    {
      "type": "html",
      "id": "icon_svg",
      "label": "Icon (SVG)",
      "default": "<svg width=\"11\" height=\"14\" viewBox=\"0 0 11 14\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M2.99984 8.33329C3.44186 8.33329 3.86579 8.1577 4.17835 7.84514C4.49091 7.53258 4.6665 7.10865 4.6665 6.66663C4.6665 5.74663 4.33317 5.33329 3.99984 4.66663C3.28517 3.23796 3.8505 1.96396 5.33317 0.666626C5.6665 2.33329 6.6665 3.93329 7.99984 4.99996C9.33317 6.06663 9.99984 7.33329 9.99984 8.66663C9.99984 9.27946 9.87913 9.8863 9.64461 10.4525C9.41009 11.0187 9.06634 11.5331 8.633 11.9665C8.19966 12.3998 7.68521 12.7435 7.11903 12.9781C6.55284 13.2126 5.94601 13.3333 5.33317 13.3333C4.72034 13.3333 4.1135 13.2126 3.54731 12.9781C2.98113 12.7435 2.46668 12.3998 2.03334 11.9665C1.6 11.5331 1.25625 11.0187 1.02173 10.4525C0.787211 9.8863 0.666504 9.27946 0.666504 8.66663C0.666504 7.89796 0.955171 7.13729 1.33317 6.66663C1.33317 7.10865 1.50877 7.53258 1.82133 7.84514C2.13389 8.1577 2.55781 8.33329 2.99984 8.33329Z\" stroke=\"#FF6900\" stroke-width=\"1.33333\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg>"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Main text",
      "default": "Last hours before price adjustment!"
    },
    {
      "type": "text",
      "id": "units_text",
      "label": "Units text",
      "default": "Only 162 units left"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show banner",
      "default": true
    },
    {
      "type": "text",
      "id": "start_date_text",
      "label": "Start date",
      "placeholder": "YYYY-MM-DD HH:MM:SS",
      "default": "2026-01-01 00:00:00",
      "visible_if": "{{ section.settings.show_banner }}"
    },
    {
      "type": "text",
      "id": "end_date_text",
      "label": "End date",
      "placeholder": "YYYY-MM-DD HH:MM:SS",
      "default": "2027-01-01 00:00:00",
      "visible_if": "{{ section.settings.show_banner }}"
    }
  ],
  "presets": [
    {
      "name": "Header Custom"
    }
  ]
}
{% endschema %}