{{ 'styles/newsletter.css' | asset_url | stylesheet_tag }}

<style>
  #subscribe-section {
    --font-primary: {{ settings.type_main_font.family }}, {{ settings.type_main_font.fallback_families }};
    --font-secondary: {{ settings.type_heading_font.family }};
  }
</style>

<section id="subscribe-section" class="container_component" style="background-color: var(--color-tertiary-background--02)">

  <div class="product-subscribe_container">
      
      {% if section.settings.title == blank %}
        <h2 class="product-subscribe_title">Subscribe & Save 20%</h2>
      {% else %}
        <h2 class="product-subscribe_title">{{ section.settings.title }}</h2>
      {% endif %}

      <p class="product-subscribe_subtitle">{{ section.settings.text | default: "Join our wellness community and get exclusive offers on your first purchase" }}</p>
      {% form 'customer', class: 'product-subscribe_form' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="product-subscribe_subtitle">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <label for="Email" class="hide">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input 
            name="contact[email]"
            class="product-subscribe_email" 
            type="email" 
            required 
            placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
            autocorrect="off"
            autocapitalize="off"
            value="{% if customer %}{{ customer.email }}{% endif %}">
          <button 
            id="Email"
            class="product-subscribe_button button" 
            name="commit" 
            id="Subscribe"
            type="submit">
              {{ 'general.newsletter_form.submit' | t }}
          </button>
        {% endif %}
      {% endform %}
    </div>
</section>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Receive special offers and first look at new products.</p>"
    },
    {
       "type":      "paragraph",
       "content":   "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}